
input:-webkit-autofill:is(.dark *),
textarea:-webkit-autofill:is(.dark *),
select:-webkit-autofill:is(.dark *) {
    border: 2px solid rgb(55 65 81)!important;
    -webkit-text-fill-color: rgb(209 213 219)!important;
    -webkit-box-shadow: 0 0 0 1000px rgb(17 24 39) inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill:hover:is(.dark *),
input:-webkit-autofill:focus:is(.dark *),
textarea:-webkit-autofill:hover:is(.dark *),
textarea:-webkit-autofill:focus:is(.dark *),
select:-webkit-autofill:hover:is(.dark *),
select:-webkit-autofill:focus:is(.dark *) {
    border: 2px solid rgb(79 70 229) !important;
    -webkit-text-fill-color: rgb(209 213 219)!important;
    -webkit-box-shadow: 0 0 0 1000px rgb(17 24 39) inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*General*/
    --dp-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
    --dp-border-radius: 4px; /*Configurable border-radius*/
    --dp-cell-border-radius: 4px; /*Specific border radius for the calendar cell*/
    --dp-common-transition: all 0.1s ease-in; /*Generic transition applied on buttons and calendar cells*/

    /*Sizing*/
    --dp-button-height: 35px; /*Size for buttons in overlays*/
    --dp-month-year-row-height: 35px; /*Height of the month-year select row*/
    --dp-month-year-row-button-size: 35px; /*Specific height for the next/previous buttons*/
    --dp-button-icon-height: 20px; /*Icon sizing in buttons*/
    --dp-cell-size: 35px; /*Width and height of calendar cell*/
    --dp-cell-padding: 5px; /*Padding in the cell*/
    --dp-common-padding: 10px; /*Common padding used*/
    --dp-input-icon-padding: 35px; /*Padding on the left side of the input if icon is present*/
    --dp-input-padding: 6px 30px 6px 12px; /*Padding in the input*/
    --dp-menu-min-width: 260px; /*Adjust the min width of the menu*/
    --dp-action-buttons-padding: 5px 5px !important; /*Adjust padding for the action buttons in action row*/
    --dp-row-margin:  5px 0; /*Adjust the spacing between rows in the calendar*/
    --dp-calendar-header-cell-padding:  0.5rem; /*Adjust padding in calendar header cells*/
    --dp-two-calendars-spacing:  10px; /*Space between multiple calendars*/
    --dp-overlay-col-padding:  3px; /*Padding in the overlay column*/
    --dp-time-inc-dec-button-size:  32px; /*Sizing for arrow buttons in the time picker*/
    --dp-menu-padding: 6px 8px; /*Menu padding*/

    /*Font sizes*/
    --dp-font-size: 1rem; /*Default font-size*/
    --dp-preview-font-size: 0.8rem; /*Font size of the date preview in the action row*/
    --dp-time-font-size: 0.8rem; /*Font size in the time picker*/

    /*Transitions*/
    --dp-animation-duration: 0.1s; /*Transition duration*/
    --dp-menu-appear-transition-timing: cubic-bezier(.4, 0, 1, 1); /*Timing on menu appear animation*/
    --dp-transition-timing: ease-out; /*Timing on slide animations*/
    --dp-action-button-height: auto !important;
}


.dp__theme_light {
    --dp-background-color: #fff !important;
    --dp-text-color: #212121 !important;
    --dp-hover-color: #f3f3f3 !important;
    --dp-hover-text-color: #212121;
    --dp-hover-icon-color: #959595 !important;
    --dp-primary-color: #1f2937 !important;
    --dp-primary-disabled-color: #1f2937 !important;
    --dp-primary-text-color: #f8f5f5 !important;
    --dp-secondary-color: #c0c4cc !important;
    --dp-border-color: #d1d5db !important;
    --dp-menu-border-color: #d1d5db !important;
    --dp-border-color-hover: #d1d5db !important;
    --dp-border-color-focus: #d1d5db !important;
    --dp-disabled-color: #f6f6f6 !important;
    --dp-scroll-bar-background: #f3f3f3 !important;
    --dp-scroll-bar-color: #959595 !important;
    --dp-success-color: #76d275 !important;
    --dp-success-color-disabled: #a3d9b1 !important;
    --dp-icon-color: #959595 !important;
    --dp-danger-color: #ff6f60 !important;
    --dp-marker-color: #ff6f60 !important;
    --dp-tooltip-color: #fafafa !important;
    --dp-disabled-color-text: #8e8e8e !important;
    --dp-highlight-color: rgb(25 118 210 / 10%) !important;
    --dp-range-between-dates-background-color: var(--dp-hover-color, #f3f3f3) !important;
    --dp-range-between-dates-text-color: var(--dp-hover-text-color, #212121) !important;
    --dp-range-between-border-color: var(--dp-hover-color, #d1d5db) !important;
}

.dp__theme_dark {
    --dp-background-color: #111827 !important;
    --dp-text-color: #D1D5DB !important;
    --dp-hover-color: #111827 !important;
    --dp-hover-text-color: #D1D5DB !important;
    --dp-hover-icon-color: #374151 !important;
    --dp-primary-color: #e5e7eb !important;
    --dp-primary-disabled-color: #e5e7eb !important;
    --dp-primary-text-color: #1f2937 !important;
    --dp-secondary-color: #a9a9a9 !important;
    --dp-border-color: #374151 !important;
    --dp-menu-border-color: #374151 !important;
    --dp-border-color-hover: #374151 !important;
    --dp-border-color-focus: #374151 !important;
    --dp-disabled-color: #111827 !important;
    --dp-disabled-color-text: #D1D5DB !important;
    --dp-scroll-bar-background: #111827 !important;
    --dp-scroll-bar-color: #D1D5DB !important;
    --dp-success-color: #00701a !important;
    --dp-success-color-disabled: #428f59 !important;
    --dp-icon-color: #374151 !important;
    --dp-danger-color: #e53935 !important;
    --dp-marker-color: #e53935 !important;
    --dp-tooltip-color: #111827 !important;
    --dp-highlight-color: rgb(0 92 178 / 20%) !important;
    --dp-range-between-dates-background-color: var(--dp-hover-color, #111827) !important;
    --dp-range-between-dates-text-color: var(--dp-hover-text-color, #D1D5DB) !important;
    --dp-range-between-border-color: var(--dp-hover-color, #374151) !important;
}

